#header {
    font-family: 'Courier New', Courier, monospace;
    font-size: x-large; 
    text-align: center;
    color: #9ebcbc;
}
 body {
    background-image: url(bg.jpg);
    background-size: cover;
 }